//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.5.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Sun 05 17 19:52:33 2020

IO_LOC "byte_out[7]" 34;
IO_LOC "byte_out[6]" 33;
IO_LOC "byte_out[5]" 32;
IO_LOC "byte_out[4]" 31;
IO_LOC "byte_out[3]" 30;
IO_LOC "byte_out[2]" 29;
IO_LOC "byte_out[1]" 28;
IO_LOC "byte_out[0]" 27;
IO_LOC "debug_control" 39;
IO_LOC "debug_interface_data[7]" 20;
IO_LOC "debug_interface_data[6]" 18;
IO_LOC "debug_interface_data[5]" 17;
IO_LOC "debug_interface_data[4]" 9;
IO_LOC "debug_interface_data[3]" 5;
IO_LOC "debug_interface_data[2]" 23;
IO_LOC "debug_interface_data[1]" 24;
IO_LOC "debug_interface_data[0]" 22;
IO_LOC "debug_interface_addr[8]" 21;
IO_LOC "debug_interface_addr[7]" 16;
IO_LOC "debug_interface_addr[6]" 46;
IO_LOC "debug_interface_addr[5]" 45;
IO_LOC "debug_interface_addr[4]" 44;
IO_LOC "debug_interface_addr[3]" 43;
IO_LOC "debug_interface_addr[2]" 42;
IO_LOC "debug_interface_addr[1]" 41;
IO_LOC "debug_interface_addr[0]" 40;
IO_LOC "clk" 38;
